* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}


/* Scroll Personalizado */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #272727;
}

::-webkit-scrollbar-thumb {
    background: rgba(3, 253, 16, 0.5);
    border-radius: 10px;
    transition: background 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #03fd10;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #272727;
}

main {
    flex: 1;
    /* Ocupa todo el espacio restante */
}


/* Para pantallas medianas y grandes */

@media (min-width: 769px) {
    /* Agrega estilos específicos para pantallas medianas y grandes */
    body {
        font-size: 16px;
        /* Tamaño de fuente estándar */
    }
}


/* Estilos comunes para el header */

.mainContent {
    height: 100%;
    width: 100%;
}

.headerContainer {
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
    z-index: 101;
    /* Ajuste de contraste */
    color: #ffffff;
    /* Color de texto */
}

.headerContent {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    /* Simplificación del centrado horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
}

.logo {
    height: 100%;
    color: #03fd10;
    font-size: 2rem;
    /* Ajuste de tamaño de fuente */
    margin-top: 20px;
    /* Ajuste de espaciado */
}


/* Para pantallas pequeñas */

@media (max-width: 768px) {
    .headerContainer {
        height: 10vh;
        /* Ajuste de altura para pantallas pequeñas */
    }
    .headerContent {
        width: 95%;
        /* Mejora del espacio horizontal en pantallas pequeñas */
    }
    .logoContainer {
        margin-top: 60px;
    }
    .logo {
        margin-top: -15px;
        font-size: 1.5rem;
    }
}


/* Para pantallas medianas y grandes */

@media (min-width: 400px) {
    .headerContainer {
        height: 8vh;
        /* Restaurar altura original para pantallas medianas y grandes */
    }
    .headerContent {
        width: 85%;
        /* Restaurar ancho original para pantallas medianas y grandes */
    }
    .logo {
        margin-top: -15px;
        font-size: 1.5rem;
    }
}


/* Menú Normal */

.menuContainer {
    display: flex;
    gap: 2rem;
    /* Ajuste del espacio entre elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.menuItem {
    position: relative;
    cursor: pointer;
    z-index: 1;
    /* Ajuste de margen izquierdo para separación uniforme */
    margin-left: 3vw;
    /* Ajuste según el diseño */
}

.menuItemLink {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    /* Reducción de la duración de la transición */
}

.menuItemLink:hover {
    color: #03fd10;
}


/* Media Queries para diseño responsive */


/* Para pantallas pequeñas */

@media (max-width: 768px) {
    .menuContainer {
        display: none;
        flex-direction: column;
        /* Coloca los elementos en columna */
        gap: 1rem;
        /* Reduce el espacio entre elementos en pantallas pequeñas */
    }
    .menuItem {
        margin-left: 0;
        /* Elimina el margen izquierdo en pantallas pequeñas */
        margin-bottom: 1rem;
        /* Añade espacio inferior entre elementos en pantallas pequeñas */
    }
    #Menu {
        background-color: #0e0e0ef6;
        position: absolute;
        top: 0vh;
        width: 40%;
        padding-left: 5%;
        padding-top: 60px;
        height: 100vh;
        right: -100%;
        display: flex;
        flex-direction: column;
        transition: all 0.7s;
    }
    #Menu.open {
        right: 0;
    }
    .menuItem {
        margin-top: 3vh;
    }
    .menuItemLink {
        font-size: 1.5rem;
    }
}


/* Menú Hamburguesa (MOBILE ONLY) */

.menuHamburguer {
    display: none;
    /* Oculta el botón en pantallas grandes por defecto */
}

.menuHamburguer.open {
    display: flex;
    /* Muestra el botón al estar abierto */
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    /* Tamaño del botón hamburguesa */
    height: 3rem;
    /* Tamaño del botón hamburguesa */
    border-radius: 100px;
    /* Forma de círculo */
    background-color: transparent;
    /* Fondo transparente */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 102;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.menuHamburguer:hover {
    transform: scale(1.1);
    /* Efecto de escala al pasar el ratón */
}

.line {
    position: absolute;
    width: 80%;
    height: 20px;
    background-color: #fff;
    border-radius: 50px;
    transition: transform 0.5s ease;
}

.menuHamburguer .line:first-child {
    top: 40%;
}

.menuHamburguer .line:nth-child(2) {
    top: 50%;
}

.menuHamburguer .line:last-child {
    top: 60%;
}


/* Girar las líneas para formar una "X" cuando se abre el menú */

.menuHamburguer.open .line:nth-child(1) {
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menuHamburguer.open .line:nth-child(2) {
    opacity: 0;
}

.menuHamburguer.open .line:nth-child(3) {
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%) rotate(45deg);
}


/* Media query para pantallas pequeñas */

@media (max-width: 768px) {
    .menuHamburguer {
        display: block;
        /* Muestra el botón en pantallas pequeñas */
        width: 40px;
        /* Ajuste del ancho del botón */
        height: 50%;
        /* Altura del botón */
        cursor: pointer;
        transition: all 100ms;
        border: 1px solid #ffff;
        background: rgba(3, 3, 3, 0.0);
        border-radius: 50px;
        /* Borde redondeado */
    }
    .menuHamburguer.open {
        background-color: rgba(0, 0, 0, 0.3);
        /* Fondo semi-transparente cuando está abierto */
    }
    .menuHamburguer:hover span {
        background: #03fd10;
    }
    .menuHamburguer span {
        display: block;
        width: 15px;
        height: 1px;
        margin-left: 12px;
        background-color: #fff;
    }
}


/* Encabezado */

.header {
    position: relative;
    height: 94vh;
    /* Ajusta la altura según tus necesidades */
    overflow: hidden;
}

.video-container {
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#headerVideo {
    position: absolute;
    width: 100%;
    height: 94vh;
    /* Mantiene el mismo tamaño de altura que el contenedor principal */
    object-fit: cover;
    /* Ajusta el tamaño del video para cubrir el contenedor */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
}

.video-hero--content {
    height: 94vh;
    /* Igualar altura con el encabezado */
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    /* Asegurar que el contenido esté sobre el video */
}

.video-hero--content h1 {
    font-family: 'Nova Slim', sans-serif;
    font-size: 6vw;
    /* Tamaño de fuente responsive */
    font-weight: 400;
    transition: 0.5s;
    margin: 0;
}

.video-hero--content h1:hover {
    -webkit-text-stroke: 5px #ccc;
    /* Borde de texto */
    color: transparent;
}

.svg-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    /* Poner debajo del contenido */
}

@media screen and (max-width: 800px) {
    /* Ajustes para pantallas pequeñas */
    .header {
        height: 100vh;
        /* Ajusta la altura para ocupar toda la pantalla en dispositivos móviles */
    }
    #headerVideo {
        height: 100%;
        /* Ajusta el video para ocupar toda la altura del contenedor */
        object-fit: cover;
        /* Ajusta el tamaño del video para cubrir el contenedor */
    }
    .video-hero--content h1 {
        font-size: 10vw;
        /* Tamaño de fuente responsive */
    }
}


/* Perfil Sobre Nosotros y soporte  */

#perfil .container {
    background-color: #0e0e0e;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 10px;
    width: auto;
}

.color-acento {
    color: #03fd10;
}

#perfil .text {
    padding: 20px;
    text-align: center;
    margin-top: 150px;
}

#perfil .text .parrafos h2 {
    width: 10%;
}

#perfil .parrafos {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 19px;
}

#perfil h2 {
    font-size: calc(0.5vw + 28px);
    font-weight: 900;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 25px;
    margin-top: 0px;
    font-size: 30px;
}

#perfil .img-container {
    height: 500px;
    width: 250%;
    border-radius: 30px;
    margin-top: 45px;
    background-image: url(../img/Logos/logo2.webp);
    background-size: cover;
    background-position: center;
}

.cta {
    color: #ccc;
    margin-left: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    background-color: #272727;
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    overflow: hidden;
    border-radius: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}

.cta:hover {
    color: #ccc;
    background-color: #0e0e0e;
    border: 2px solid #03fd10;
    box-shadow: 0px 4px 8px rgba(9, 248, 1, 0.5);
}

.text .idea {
    margin-left: 30px;
}

@media screen and (max-width: 800px) {
    #perfil .text .parrafos h2 {
        width: 50%;
    }
    #perfil .img-container,
    #perfil .img-container-2,
    #perfil .img-container-3 {
        display: none;
    }
    .text .idea {
        margin-left: 0;
    }
    .cta {
        left: -20px;
    }
}

@media screen and (max-width: 400px) {
    #perfil .img-container,
    #perfil .img-container-2,
    #perfil .img-container-3 {
        display: none;
    }
    #perfil .text .parrafos h2 {
        width: 50%;
    }
    .text .idea {
        margin-left: 0;
    }
    .cta {
        left: 0;
    }
}


/* Estilos para la sección de equipo */

.section-equipo {
    background-color: #272727;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* Texto centrado */
    font-size: 19px;
}

.titule-equipo h2 {
    font-size: 32px;
    font-weight: 600;
    color: #03fd10;
    text-shadow: 0 4px 8px rgba(3, 243, 3, 0.6);
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
    /* Posición absoluta para el título */
    top: 20px;
    margin-top: 0px;
    left: 50%;
    transform: translateX(-50%);
    /* Centrar horizontalmente */
}

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centrar las tarjetas */
}

.card {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    margin: 40px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 255, 21, 0.8);
    border: 2px solid #03fd10;
}

.card .content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    background: #ccc;
}

.card .content .img {
    height: 50%;
    margin-bottom: 20px;
}

.card .content .img img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card .content span {
    position: absolute;
    width: 350px;
    height: 200px;
    background: linear-gradient(to right, #20662c, #03fd10);
    transform: rotate(-35deg);
    top: -50px;
    left: -100px;
}

.card .content h4 {
    font-size: 18px;
    color: #0e0e0e;
    margin-bottom: 5px;
}

.card .content h6 {
    font-size: 13px;
    color: #286e2c;
}

.card .content p {
    font-size: 13px;
    color: #0e0e0e;
    margin-top: 10px;
}


/* Estilos para el título del modal */

#modal-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}


/* Estilos para el texto del modal */

#modal-text {
    font-size: 1rem;
    color: #666;
    line-height: 1.4;
}


/* Estilos para la sección de Preguntas Frecuentes (FAQ) */

.faq_section {
    background-color: #252525;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.container-preguntas {
    width: 100%;
    max-width: 1200px;
    /* Ajusta el ancho máximo según tu diseño */
    margin: 0 auto;
}

.title {
    font-size: 32px;
    color: #03fd10;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.faq-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-container {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #0e0e0e;
    transition: box-shadow 0.3s, background-color 0.3s;
}

.faq-container:hover {
    box-shadow: 0 0 20px #03fd10;
    background-color: #272727;
}

.faq-collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 2px solid #0e0e0e;
}

.question {
    font-size: 22px;
    font-weight: 600;
}

.faq-answer {
    padding: 0 20px;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.faq-answer p {
    font-size: 18px;
    line-height: auto;
    height: 95px;
}

.faq-container.active .faq-answer {
    max-height: 200px;
    /* Ajusta la altura máxima según el contenido */
    padding-top: 20px;
    padding-bottom: 20px;
}

.arrow-container {
    width: 30px;
    height: 30px;
    position: relative;
}

.linea {
    width: 100%;
    height: 2px;
    background-color: #03fd10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s;
}

.linea:nth-of-type(1) {
    transform-origin: center;
}

.linea:nth-of-type(2) {
    transform-origin: center;
}

.faq-container.active .linea:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.faq-container.active .linea:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: 768px) {
    .container-preguntas {
        max-width: 400px;
        /* Ajusta el ancho máximo según tu diseño */
    }
    .faq-answer p {
        height: 210px;
    }
}

@media screen and (max-width: 400px) {
    .container-preguntas {
        max-width: 400px;
        /* Ajusta el ancho máximo según tu diseño */
    }
    .faq-answer p {
        height: 250px;
    }
}


/* About Us */

.section {
    text-align: center;
    padding: 20px;
    background-color: #0e0e0e;
}

.section-title {
    font-size: 32px;
    font-weight: 600;
    color: #03fd10;
    text-shadow: 0 4px 8px rgba(3, 243, 3, 0.6);
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    margin-top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video {
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.video video {
    width: 300px;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border: 2px solid #0e0e0e;
    transition: box-shadow 0.3s;
}

.video video:hover {
    box-shadow: 0 0 20px rgba(0, 255, 21, 0.8);
    border: 2px solid #03fd10;
}


/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: auto;
    max-width: 100%;
    max-height: 90vh;
    overflow: hidden;
}

.modal-content video {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    background-color: #000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover {
    color: #03fd10;
}


/* Responsive Adjustments */

@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
        max-height: 80vh;
    }
}

@media screen and (max-width: 400px) {
    .modal-content {
        width: 95%;
        max-height: 80vh;
    }
    .close {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}


/* Footer */

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.logo1 {
    height: 25%;
    width: 25%;
    top: 50px;
    padding: 20px;
    margin-bottom: 1rem;
}

.social-icons-container,
.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid #ffff;
    background-image: url(../img/iconos/FacebookBlanco.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover {
    background-color: #03fd10;
}

.social-icon:nth-of-type(2) {
    background-image: url(../img/iconos/InstagramBlanco.webp);
}

.social-icon:nth-of-type(3) {
    background-image: url(../img/iconos/DiscordBlanco.webp);
}

.social-icon:nth-of-type(4) {
    background-image: url(../img/iconos/WhatsappBlanco.webp);
}

.social-icon:nth-of-type(5) {
    background-image: url(../img/iconos/YoutubeBlanco.webp);
}

.footer-menu-container {
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.menu-item a {
    color: #fff;
    margin: 1rem 1.5rem;
    cursor: pointer;
}

.menu-item a:hover {
    color: #03fd10;
}

.copyright {
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

footer .wave {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/footer/wave.webp);
    background-size: 1000px 100px;
}

footer .wave #wave1 {
    z-index: 98;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave #wave2 {
    z-index: 97;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave #wave3 {
    z-index: 98;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave #wave4 {
    z-index: 97;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

@media (max-width: 800px) {
    .logo1 {
        height: 50%;
        width: 50%;
    }
    .social-icon {
        height: 30px;
        width: 30px;
    }
    .copyright {
        width: 100%
    }
    .menu-item a {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .logo1 {
        height: 50%;
        width: 50%;
    }
    .social-icon {
        height: 31px;
        width: 31px;
    }
    .copyright {
        width: 100%
    }
    .menu-item a {
        font-size: 15px;
    }
}